.profile_head
{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.profile_cont
{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333331;
    gap: 10px;
    color: antiquewhite;
    font-size: 20px;
}

.profile_que
{
    color: chartreuse;
    font-weight: bold;
    margin: 5px;

}

.update_prof_btn
{
    background-color: #cdcd9f;
    color: black;
    width: 200px;
}

.update_prof_btn:hover{
    cursor: pointer;
    background-color: #e0e020;
    color: aqua;

}