/* .body-cont
{
    background-image: url('https://th.bing.com/th/id/OIP.U-zpGcJYJ-tg2PuHpA9p7QHaE8?w=300&h=200&c=7&r=0&o=5&dpr=2&pid=1.7');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-blend-mode: ;

} */

.full-reg-cont
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-cont
{
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: cornflowerblue;
    border-radius: 5%;
    /* padding-inline:px; */
}
input
{
    /* width: ; */
    height: 20px;
    padding: 6px;
    font-size: 1rem;
    border-radius: 4%;
}
button:hover
{
    background-color: black;
    color: white;

}
p{
    width: auto;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    /* border-bottom: 2px solid blue; */
    text-decoration: 1px red underline;
}