.dash_cont{
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .logout
{
    width: 100px;
    height: 50px;
    border-right-color: #1a1048;
    color: rgb(182, 146, 98);


} */

.logout:hover{
    background-color: #8c82ba;
    color: azure;
}
.dum2
{
    text-decoration: none;
    /* color: rgb(160, 32, 160); */
    color: rgb(182, 146, 98);
    /* width: 200px;
    height: 100px; */
}
.raise_but,.predict_but,.logout
{
    width: 200px;
    height: 100px;
    background-color: #1a1048;
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* .predict_but
{
    margin-top: 20px;
    width: 200px;
    height: 100px;
    color: rgb(182, 146, 98);
    background-color: #1a1048;
} */